@mixin image-container() {
    width: 100%;

    @include breakpoint($md) {
        width: 50%;
    }

    .image {
        width: 100%;

        @include breakpoint($md) {
            width: 440px;
            margin: 15px;
        }
        
        @include breakpoint($lg) {
            width: 540px;
        }
    }
}

@mixin description-container() {
    .text {
        color: $textSecondary;
        font-size: 16px;
        margin-top: 16px;
    }
}